# Archivos de compilación
bin/
obj/

# Archivos de usuario y configuración local
*.user
*.suo
*.userosscache
*.sln.docstates
Properties/launchSettings.json

# Configuración de Visual Studio
.vs/

# Archivos de publicación
*.publish.xml

# Logs
*.log

# Archivos generados por herramientas
project.lock.json
project.fragment.lock.json

# Configuración de paquetes NuGet
*.nupkg
*.snupkg
packages/

# Configuración de Rider/JetBrains
.idea/

# Archivos de sistema
Thumbs.db
ehthumbs.db
Desktop.ini

# Archivos de entorno
.env

# Archivos de cobertura de pruebas
*.coverage
*.coveragexml

# Archivos de cache
*.cache

# Configuración de VS Code
.vscode/

# Archivos relacionados con Docker
docker-compose.override.yml
docker-compose.override.*.yml
.docker/
*.dockerfile
Dockerfile.*.backup
/Docker.docx
